@{
    ViewBag.Title = "Home Page";
}

<h1>Доброго времени суток</h1>
<div>Чтобы загрузить файлы на сервер нужно в меню выбрать "Upload files"</div>
<div>Чтобы просмотреть статистику загруженных файлов на сервер нужно в меню выбрать "Statistics"</div>
<div>Если вы еще не зарегистрированный пользователь вам нужно в меню выбрать "Register"</div>
<div>Если вы хотите загрузить файлы на сервер вам нужно иметь на это прова обычного пользователя для просмотра статистики права админа предварительно залогинившись в меню выбрать "Log in"</div>
